samples/n8n-workflows/n8n-walkthrough-workflow.json
{
  "name": "n8n-walkthough-workflow",
  "nodes": [
    {
      "parameters": {
        "agent": "=support-agent",
        "input": "={{ $json.chatInput }}"
      },
      "type": "CUSTOM.arkAgent",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "id": "c2397ebf-8b3c-445f-be31-a0dc76fe439d",
      "name": "Execute Agent",
      "credentials": {
        "arkApi": {
          "id": "5UkwOCCE9YnmFqfk",
          "name": "ARK account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "done"
            }
          ]
        }
      },
      "id": "d3666009-0867-4d09-b81e-44dae73c7180",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    success: true,\n    queryName: $json.queryName,\n    input: $json.input,\n    response: $json.response,\n    duration: $json.duration,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "883f7190-0514-4e27-aea0-de06eab11289",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        288
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    success: false,\n    queryName: $json.queryName,\n    input: $json.input,\n    status: $json.status,\n    error: $json.error || 'Query failed',\n    duration: $json.duration,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "2e0b9ef2-e990-4e70-bcf9-a4ef802caa26",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        496
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        400
      ],
      "id": "e05db239-50f1-40e5-9efc-e8bd085e4af6",
      "name": "When chat message received",
      "webhookId": "f0b3f52f-8919-4ad2-888e-a4f1b3d3730a"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Agent": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        []
      ]
    },
    "Format Error Response": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Execute Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92b1a7d8-2125-4f88-9d0b-afd8ea9f5453",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "391461540dee550ffe452f1b3127c19b6e952acabbeeabfc01d88e9a666d2633"
  },
  "id": "AHyB1sg5tBd8z2xz",
  "tags": []
}