samples/mcp-tools/weather-tool.json
{
  "name": "MCP Tool: Weather",
  "nodes": [
    {
      "parameters": {
        "path": "tool/weather",
        "options": {},
        "responseMode": "lastNode",
        "method": "POST"
      },
      "id": "webhook-weather",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "weather-tool"
    },
    {
      "parameters": {
        "jsCode": "// Extract location from request\nconst location = $input.item.json.body.location;\n\nif (!location || typeof location !== 'string') {\n  throw new Error('Invalid location: must be a non-empty string');\n}\n\n// For demo purposes, return mock data\n// In production, this would call OpenWeather API\nconst mockWeatherData = {\n  'New York': { temp: 18, condition: 'Partly Cloudy', humidity: 65 },\n  'London': { temp: 12, condition: 'Rainy', humidity: 80 },\n  'Tokyo': { temp: 22, condition: 'Sunny', humidity: 55 },\n  'default': { temp: 20, condition: 'Clear', humidity: 60 }\n};\n\nconst weather = mockWeatherData[location] || mockWeatherData['default'];\n\nreturn {\n  location: location,\n  temperature: weather.temp,\n  temperature_unit: 'celsius',\n  condition: weather.condition,\n  humidity: weather.humidity,\n  success: true,\n  note: 'This is mock data. Set OPENWEATHER_API_KEY env var for real data.'\n};"
      },
      "id": "code-weather",
      "name": "Get Weather",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook-weather",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Get Weather", "type": "main", "index": 0 }]]
    },
    "Get Weather": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ark-n8n-mcp"
  },
  "tags": ["mcp", "tool", "weather"]
}
